<% if flash[:notice] || flash[:error] %>
	<% _class = flash[:error] ? 'danger' : 'success' %>
	<div class="row">
		<div class="alert alert-<%= _class %> col-md-10" role="alert">
			<%= flash[:notice] %>
			<%= flash[:error] %>
		</div>
	</div>
<% end %>